<div class="site-header">

    <nav class="site-nav ">
        {% assign pages_list = site.pages | sort:"weight" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.type == "navigation" %}
              <a class="page-link {% if page.url == node.url %} active{% endif %}"" href={{ node.url }}>{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </nav>


    <a href="{{site.baseurl}}"><img class="permalogo" src="{{site.logosurl}}/inkLogo.png"></a>
    <h1>
     <span>
      <a class="site-title" href="{{page.headerlinelink}}">{{ page.headerline }}</a>
     </span>
    </h1>

    <div class="links">
        <span><a href="{{site.behanceurl}}"><i class="fi-social-adobe whitefont">behance</i></a></span>
        <span><a href="{{site.facebookurl}}"><i class="fi-social-facebook whitefont">facebook</i></a></span>
        <span><a href="{{site.twitterurl}}"><i class="fi-social-twitter whitefont">twitter</i></a></span>
    </div>

</div>
