<div class="site-header">

    <nav class="site-nav ">
        {% assign pages_list = site.pages | sort:"weight" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.type == "navigation" %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </nav>


    <img class="permalogo" src="{{site.logosurl}}/inkLogo.png">
    <h1>
     <span>
      <a class="site-title">{{ page.headerline }}</a>
     </span>
    </h1>


</div>
