---
layout: default
headerline: Ink. Projects
headerlinelink: #
---
<link rel="stylesheet" href="{{ 'assets/css/gridstyle.css' | prepend: site.baseurl }}">
<script src="{{ 'assets/js/gridscript.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<div class = "row">
<ul class="products">
    {% assign projects = site.projects %}
      {% assign members = site.members%}
      {% for project in projects %}      
        <li>
          <figure>
            <a href="{{ project.url | prepend: site.baseurl }}">
            <img src="{{ site.url }}/assets/images/project_thumb/{{ project.image }}" alt="img">
            <h4 align="left">{{ project.title}}</h4>
            </a>
            <div class="links">
                {% if project.behanceurl %}
                <a href="{{project.behanceurl}}"><i class="fi-social-adobe behance"></i></a>
                {% endif %}
                {% if project.facebookurl %}
                <a href="{{project.facebookurl}}"><i class="fi-social-facebook facebook"></i></a>
                {% endif %}
                {% if project.trellourl %}
                <a href="{{project.trellourl}}"><i class="fi-clipboard black"></i></a>
                {% endif %}
            </div>
            <div class="contributors">
            {% for contributor in project.contributors %}
              {% for member in members %}
                {% if member.id == contributor %}
                  <a href="{{member.url}}"><img class="circle-img icon" title="{{member.name}}" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></a>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
        </li>
      {% endfor %}
    <li>
</ul>
</div>