---
layout: default
headerline: What do we do?
headerlinelink: #
---
<div class="row">
<div class="activity_row">
	<div class="thumb">
		<a href="/activities/tanks">
		<img class="activity_thumbnails" src="{{site.imagesurl}}/activity_main/ink_tank.jpg"></a><br>
		<p align="center">our flagship online intra-institute design contest</p>
	</div>

	<div class="thumb2">
  		<a href="/activities/things"><img class="activity_thumbnails" src="{{site.imagesurl}}/activity_main/ink_thing.jpg"></a><br>
  		<p align="center">our monthly “show and tell” critique session that’s open to everyone</p>
	</div>
  	
  	<div class="thumb">
  		<a href="/activities/outs"><img class="activity_thumbnails" src="{{site.imagesurl}}/activity_main/ink_out.jpg"></a><br>
  		<p align="center">a thawing session between members, new inductees and restaurant waiters</p>
  	</div>

  	<div class="thumb2">
  		<a href="/activities/kaleidoscopes"><img class="activity_thumbnails" src="{{site.imagesurl}}/activity_main/kaleidoscope.jpg"></a><br>
  		<p align="center">our institutes bi-annual magazine</p>
  	</div>

  	<div class="thumb">
  		<a href="/activities/panels"><img class="activity_thumbnails"  src="{{site.imagesurl}}/activity_main/media_panel.jpg"></a><br>
  		<p align="center">our institutes official design team</p>
  	</div>

  	<div class="thumb2">
  		<a href="/activities/adminpanels"><img class="activity_thumbnails"  src="{{site.imagesurl}}/activity_main/admin_panel.jpg"></a><br>
  		<p align="center">the team managing our club</p>
  	</div>
</div>
</div>

<style>
	p {
		font-size:0.9em;
	}

	.activity_row {
		margin: 0 auto;
		width:55em;
	}

	.thumb, .thumb2 {
		width:25em;
		height:15em;
		overflow: :hidden;
	}

	.thumb {
		float: left;
	}

	.thumb2 {
		float: right;
	}

	.activity_thumbnails {
		height:10em;
		overflow:hidden;	
	}
</style>