---
layout: default
headerline: Ink. Store
headerlinelink: #
---

<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.6.5.min.js"></script>
<script>
	   Parse.initialize("RdlpIhjGvAZ4A87VoHTeLSbVRZ7InhKPgVEvyd1D", "0MQ94GgUaAIa7KxTvtho3J94krdPx12PQZjiA4RL");
	   // We only want these styles applied when javascript is enabled
		$('div.navigation').css({'width' : '300px', 'float' : 'left'});
		$('div.content').css('display', 'block');

		jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});
				
				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
</script>
<div class="row">
  	<div id="gallery" class="content">
		<div id="controls" class="controls"></div>
		<div class="slideshow-container">
			<div id="loading" class="loader"></div>
			<div id="slideshow" class="slideshow"></div>
		</div>
		<div id="caption" class="caption-container"></div>
	</div>
	<div id="thumbs" class="navigation">
		<ul class="thumbs noscript">
		{% assign members = site.members%}
		{% assign items = site.store %}
	      {% for item in items %}      
	        <li>
				<a class="thumb" style="width: 30%;"name="leaf" href="{{site.imagesurl}}/store_items/{{item.id}}.png" title="{{item.title}}">
					<img src="{{site.imagesurl}}/store_items/{{item.id}}.png" alt="{{item.title}}" />
				</a>
				<div class="caption">
					<div class="download">
						<a href="{{item.facebookurl}}" target="_blank">Vote here <i class="fi-social-facebook facebook"></i></a>
					</div>
					<div class="image-title"> 
					{% for contributor in item.contributors %}
			              {% for member in members %}
			                {% if member.id == contributor %}
			                  <h3>{{item.title}}</h3> by <a href="{{member.url}}"><img class="circle-img icon-b" title="{{member.name}}" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></a>
			                {% endif %}
			              {% endfor %}
			            {% endfor %}</div>
					<div class="image-desc">{{item.details}}
					</div>
				</div>
			</li>
	      {% endfor %}
		</ul>
	</div>
	<div style="clear: both;"></div>	
</div>