---
layout: default
headerline: Kaleidoscope
headerlinelink: #
---
<div class="row">
  {% assign members = site.members%}
  {% assign kaleidoscopes = site.kaleidoscopes  | sort:"weight" %}
  {% for kaleidoscope in kaleidoscopes  %}
  {{kaleidoscope.title}} {{kaleidoscope.excerpt}}
	 <div class="contributors">
	{% for contributor in kaleidoscope.contributors %}
	  {% for member in members %}
	    {% if member.id == contributor %}
	      <a href="{{member.url}}"><img class="circle-img icon-b" title="{{member.name}}" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></a>
	    {% endif %}
	  {% endfor %}
	{% endfor %}
	</div>
  {% endfor %}
</div>