---
layout: default
headerline: Members
headerlinelink: #
---
<!--Admins-->
<div class="row">
  <h1 align="center">Admins</h1>
    {% assign members = site.members %}
    {% for member in members %}
      {% if member.status == "admin" %}
      <div class="row">
        <div class="small-3 columns">
          <img class="circle-img gs hv" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></img>
        </div>
        <div class="small-9 columns">
          <h4>{{member.name}} <i>{{member.alias}}</i>, {{member.batch}}</h5>
          <h6><i>{{member.honours}}</i></h6>
          <h6>member since {{member.since}}</h6>
          <h6><b><i>{{member.motto}}</i></b></h6>
          <div class="links">
            {% if member.behanceurl %}
            <a href="{{member.behanceurl}}" target="_blank"><i class="fi-social-adobe behance"></i></a>
            {% endif %}
            {% if member.facebookurl %}
            <a href="{{member.facebookurl}}" target="_blank"><i class="fi-social-facebook facebook"></i></a>
            {% endif %}
            {% if member.twitterurl %}
            <a href="{{member.twitterurl}}" target="_blank"><i class="fi-social-twitter twitter"></i></a>
            {% endif %}
            {% if member.weburl %}
            <a href="{{member.weburl}}" target="_blank"><i class="fi-link black"></i></a>
            {% endif %}
          </div>
          <a href="{{member.url}}">Click to view Contributions.</a>
        </div>
      </div>
      {% endif %}
    {% endfor %}  
</div>
<!-- members -->
<div class="row">
  <h1 align="center">Members</h1>
    {% assign members = site.members %}
    {% for member in members %}
      {% if member.status == "member" %}
        <div class="row">
        <div class="small-3 columns">
          <img class="circle-img gs hv" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></img>
        </div>
        <div class="small-9 columns">
          <h4>{{member.name}} <i>{{member.alias}}</i>, {{member.batch}}</h5>
          <h6><i>{{member.honours}}</i></h6>
          <h6>member since {{member.since}}</h6>
          <h6><b><i>{{member.motto}}</i></b></h6>
          <div class="links">
            {% if member.behanceurl %}
            <a href="{{project.behanceurl}}"><i class="fi-social-adobe behance"></i></a>
            {% endif %}
            {% if member.facebookurl %}
            <a href="{{project.facebookurl}}"><i class="fi-social-facebook facebook"></i></a>
            {% endif %}
            {% if member.twitterurl %}
            <a href="{{project.twitterurl}}"><i class="fi-social-twitter twitter"></i></a>
            {% endif %}
            {% if member.weburl %}
            <a href="{{member.weburl}}"><i class="fi-link black"></i></a>
            {% endif %}
          </div>
          <a href="{{member.url}}">Click to view Contributions.</a>
        </div>
      </div>
      {% endif %}
    {% endfor %}  
</div>
<!-- Alumni -->
<div class="row">
  <h1 align="center">Alumni</h1>
    {% assign members = site.members %}
    {% for member in members %}
      {% if member.status == "alumni" %}
        
        <div class="row">
        <div class="small-3 columns">
          <img class="circle-img gs hv" src="{{site.imagesurl}}/members/{{member.id}}.jpg"></img>
        </div>
        <div class="small-9 columns">
          <h4>{{member.name}} <i>{{member.alias}}</i>, {{member.batch}}</h5>
          <h6><i>{{member.honours}}</i></h6>
          <h6>member from {{member.since}} till {{member.till}}</h6>
          <h6><b><i>{{member.motto}}</i></b></h6>
          <div class="links">
            {% if member.behanceurl %}
            <a href="{{project.behanceurl}}"><i class="fi-social-adobe behance"></i></a>
            {% endif %}
            {% if member.facebookurl %}
            <a href="{{project.facebookurl}}"><i class="fi-social-facebook facebook"></i></a>
            {% endif %}
            {% if member.twitterurl %}
            <a href="{{project.twitterurl}}"><i class="fi-social-twitter twitter"></i></a>
            {% endif %}
            {% if member.weburl %}
            <a href="{{member.weburl}}"><i class="fi-link black"></i></a>
            {% endif %}
          </div>
          <a href="{{member.url}}">Click to view Contributions.</a>
        </div>
      </div>
      {% endif %}
    {% endfor %}  
</div>