---
layout: default
headerline: Ink. Tank
headerlinelink: #
---
<div class="row">
  <h1>{{page.title}}</h1>
  	<div style="width:85%;margin:0 auto;">
  		<p>Ink. Tank is our monthly, online intra-institute graphic design contest, which is open-to-all and serves as a gateway
  			to make your way into the club.<br>
  			It is a theme-based, week-long event, wherein the participants submit their entires (based on the given theme). All the entries are judged by the Club Admins.<br><br>
  			Cash Prizes and Club memberships are up for grabs!</p>

  		<p>We have had quite a few Ink. Tanks since our inception.</p>
	  	{% assign tanks = site.tanks %}
	  	{% for tank in tanks %}
		  	<a href="{{tank.url}}">{{tank.title}} {{tank.excerpt}}</a><p style="font-size:0.8em;">{{tank.date}}</p>
  		{% endfor %}
  	</div>
</div>