---
layout: default
headerline: Ink. Tank
headerlinelink: #
---
<div class="row">
  <h1>{{page.title}}</h1>
  	<div style="width:85%;margin:0 auto;">
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat leo id massa commodo, nec venenatis arcu laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus ante, cursus id porta a, venenatis vel diam. Integer vehicula rutrum luctus. Curabitur accumsan finibus nisl, quis semper neque bibendum non. Vestibulum vel nisl in neque maximus luctus.</p>

  		<p>We have had a total of 3 Ink. Tanks since our inception.</p>
	  	{% assign tanks = site.tanks | sort:"weight" %}
	  	{% for tank in tanks %}
		  	{{tank.title}} {{tank.excerpt}} [<a href="{{ tank.url }}">Details</a>]<br>
  		{% endfor %}
  	</div>
</div>