---
layout: default
headerline: Vision
headerlinelink: #
---
<div class="row">
	<h3>We have a 3 fold vision:</h3>
	<div class="small-4 column" >
	<h4 align="center"><b>Promote Designing</b></h4>
	<img src="{{site.visionurl}}/paint.png">
	<p class="text-center" style="text-align:justify !important;">
		We encourage students to use design as a medium to communicate more effectively. Be it designing a poster, a brochure or just presentation slides. We promote design principles to make any end product look visually pleasing.
	</p>
	</div>
	<div class="small-4 column" >
	<h4 align="center"><b>Skill Development</b></h4>
	<img src="{{site.visionurl}}/coin.png">
	<p class="text-center" style="text-align:justify !important;">
		A member of Ink. should be capable of completing design projects, leading design teams and consulting people on design related matters. Not only should our members be capable of earning some useful pocket money, but also compete with other designers who do this as a profession.
	</p>
	</div>
	<div class="small-4 column" >
	<h4 align="center"><b>Encourage Expression</b></h4>
	<img src="{{site.visionurl}}/bulb.png">
	<p class="text-center" style="text-align:justify !important;">
		We aim to enhance creativity and imagination among students of IIIT-Delhi, and encourage them to use design as a medium to express their thoughts and feelings.
	</p>
	</div>
</div>
