---
layout: default
headerline: Functions
headerlinelink: #
---
<div class="row">
	<h1>Attendance Policy</h1>
	Being a new and relatively small group of people, we do not have a strict attendance policy as of now.<br>
	According to us, attendance to events is not a major issue, but contributing to the club is. We take a member's contributions very seriously and evaluate a member's activities in the club on the basis of his/her contributions only.
	<br>As a matter of fact, we do mantain a record of members attending Ink. events.
	<br><br>
	<iframe src="https://docs.google.com/spreadsheets/d/1U-5YmbVFC3DqBkothwaeVZ9aXYlzUwBpsfMROBWJYnU/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	<hr>
	<h1>Budget</h1>
	<hr>
	<h1>Expenditure</h1>
	<hr>
</div>

<style>
iframe {
	margin: 0 auto;
	height: 35em;
	width: 100%;
}
</style>