---
layout: default
---
<div class="row">

</div>
<link rel='stylesheet' href='{{site.url}}/assets/fullcalendar/fullcalendar.css' />
<script src='{{site.url}}/assets/js/moment.min.js'></script>
<script src='{{site.url}}/assets/fullcalendar/fullcalendar.js'></script>
<script>
$('#calendar').fullCalendar({

    eventSources: [

        {
            events: [ // put the array in the `events` property
                {
                    title  : 'event1',
                    start  : '2010-01-01'
                },
                {
                    title  : 'event2',
                    start  : '2010-01-05',
                    end    : '2010-01-07'
                },
                {
                    title  : 'event3',
                    start  : '2010-01-09T12:30:00',
                }
            ],
            color: 'black',     // an option!
            textColor: 'yellow' // an option!
        }

        // any other event sources...

    ]

});
</script>