---
layout: default
---

  <div class="fullwide row home-showcase " >
  	<a href="{{site.url}}/news/">
    <div class="small-4 columns text-center">
    <ul class="example-orbit-content lightblue" data-orbit data-options="timer_speed:2000;  resume_on_mouseout: true">
	  {% assign news = site.news %}
	  {% for new in news %}
	  {% if new.active %}
	  <li data-orbit-slide="headline-1">
	    <div>
	      <h2>{{ new.title }}</h2>
	      <h3>{{ new.tagline}}</h3>
	    </div>
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>          
      <img class="homeicon gs hv" src="{{site.logosurl}}/news-icon.png">
      <h4 class="s-ws-top">Ink. News</h4>
      <p class="secondary-color">Follow our project updates, posts, event details and tweets!</p>
    </div>
    </a>
    <a href="{{site.url}}/projects/">
    <div class="small-4 columns text-center">
    <ul class="example-orbit-content midblue" data-orbit data-options="timer_speed:3000;  resume_on_mouseout: true">
	  {% assign projects = site.projects %}
	  {% for project in projects %}
	  {% if project.active %}
	  <li data-orbit-slide="headline-1">
	    <div>
	      <h2>{{ project.title }}</h2>
	      <h3>{{ project.tagline}}</h3>
	    </div>
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>  
      <img class="homeicon gs hv" src="{{site.logosurl}}/projects-icon.png">
      <h4 class="s-ws-top">Ink. Projects</h4>
      <p class="secondary-color">View our upcoming and past work.</p>
    </div>
    </a>
    <a href="{{site.url}}/activities/">
    <div class="small-4 columns text-center">
    <ul class="example-orbit-content darkblue" data-orbit data-options="timer_speed:4000; resume_on_mouseout: true">
	  {% assign activities = site.activities %}
	  {% for activity in activities %}
	  {% if activity.active %}
	  <li data-orbit-slide="headline-1">
	    <div>
	      <h2>{{ activity.title }}</h2>
	      <h3>{{ activity.tagline}}</h3>
	    </div>
	  </li>
	  {% endif %}
	  {% endfor %}    
	</ul>  
      <img class="homeicon gs hv" src="{{site.logosurl}}/events-icon.png">
      <h4 class="s-ws-top">Ink. Events </h4>
      <p class="secondary-color">Learn more about Ink. Thing, Ink. Tank and other events we host throughout the year.</p>
    </div>
    </a>
  </div>
