---
layout: default
headerline: Join Us
headerlinelink: #
---
<div class="row" align="center">
<h2><i>There are three ways to join the club, listed in the order of difficulty one might face:</i></h2>
</div>
<div class="row">
<div class="small-4 column" >
<h4 align="center"><b>Ink. Tank</b></h4>
<ul class="naked timeline">
        <li>Ink. Tank is our week long design contest.</li>
        <li>Reach the top-n.</li>
        <li>Welcome to Ink.!</li>
</ul>
</div>
<div class="small-4 column" >
<h4 align="center"><b>Ink. Projects</b></h4>
<ul class="naked timeline">
        <li>Join our <a href="{{site.maillist}}">mailing-list</a>.</li>
        <li>Volunteer.</li>
        <li>Contribute to our projects.</li>
        <li>First Successful Project</li> 
        <li>Welcome to Ink.!</li> 
</ul>
</div>
<div class="small-4 column" >
<h4 align="center"><b>Member Recommendations</b></h4>
<ul class="naked timeline">
        <li>Do significant design work.</li>
        <li>Reach out to an existing member.</li>
        <li>Pray.</li>
        <li>Welcome to Ink.!</li> 
</ul>
</div>
</div>