---
layout: default
---

  <div class="fullwide row home-showcase " >
    
  </div>
<div class="row">
	
    <div class="small-6 columns text-center">
    	Ink. is the Design Club at IIIT-Delhi formed on 14th November, 2014 when 8 not-so-busy people came together to do something cool. 
	    <br>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/sidg.jpg" title="Siddharth Gupta"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/sarthaka.jpg" title="Sarthak Ahuja"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/vedants.jpg" title="Vedant Das Swain"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/mallikaa.jpg" title="Mallika Agarwal"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/anjaliu.jpg" title="Anjali Ujjainia"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/srishtis.jpg" title="Srishti Sengupta"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/prikankshitm.jpg" title="Prikankshit Mor"></img>
	    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/shubhamc.jpg" title="Shubham Chauhan"></img>
	    <br>
	    Since then we have only grown more passionate about graphic design and the club itself. We are pretty serious about our work. That being said we love to party after every nice productive couple of weeks!
	    <br><br><br>
	    The club as of now consists of these fantastic bunch of passionate designers!<br> 
	    {% assign members = site.members %}
	    {% for member in members %}
	        <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/{{member.id}}.jpg" title="{{member.name}}"></img>
	    {% endfor %}
    </div>
    <div class="small-6 columns text-center">
    	<div class="fb-page" data-href="https://www.facebook.com/ink.iiitd/" data-tabs="timeline,events" data-width="2000" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ink.iiitd/"><a href="https://www.facebook.com/ink.iiitd/">Ink.</a></blockquote></div></div>
    </div>
</div>