---
layout: default
headerline: About Ink.
headerlinelink: #
---
<div class="row">
  <div class="small-9 columns">
    Ink. is the Design Club at IIIT-Delhi formed on 14th November, 2014 when 8 not-so-busy people came together to do something cool. 
    <br>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/sidg.jpg" title="Siddharth Gupta"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/sarthaka.jpg" title="Sarthak Ahuja"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/vedants.jpg" title="Vedant Das Swain"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/mallikaa.jpg" title="Mallika Agarwal"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/anjaliu.jpg" title="Anjali Ujjainia"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/srishtis.jpg" title="Srishti Sengupta"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/prikankshitm.jpg" title="Prikankshit Mor"></img>
    <img class="circle-img gs hv icon-b" src="{{site.imagesurl}}/members/shubhamc.jpg" title="Shubham Chauhan"></img>
    <br>
    Since then we have only grown more passionate about graphic design and the club itself. We are pretty serious about our work. That being said we love to party after every nice productive couple of weeks! 
  </div>  
	<div class="small-3 columns">
    <h3>Timeline</h3>
    <ul class="naked timeline">
        <li><small class="secondary-color">20th September, 2015</small> <br>300 followers on facebook</li>
        <li><small class="secondary-color">10th September, 2015</small> <br>Ink. Website</li>
        <li><small class="secondary-color">12th September, 2015</small> <br>Ink. Projects Launch</li>
        <li><small class="secondary-color">25th August, 2015</small> <br>First Kaleidoscope Editorial</li>
        <li><small class="secondary-color">22nd August, 2015</small> <br>First Esya'15 MPD</li>
        <li><small class="secondary-color">16th August, 2015</small> <br>First Media Panel</li>
        <li><small class="secondary-color">14th August, 2015</small> <br>First Ink. Out</li>
        <li><small class="secondary-color">7th February, 2015</small> <br>First Ink. Tank</li>
        <li><small class="secondary-color">27th January, 2015</small> <br>First Ink. Thing</li>
        <li><small class="secondary-color">14th November, 2014</small> <br>Founded</li>
    </ul>
</div>