---
layout: default
headerline: Functions
headerlinelink: #
---
<div class="row">
	<h1>Attendance Policy</h1>
	Being a new and relatively small group of people, we do not have a strict attendance policy as of now.<br>
	According to us, attendance to events is not a major issue, but contributing to the club is. We take a member's contributions very seriously and evaluate a member's activities in the club on the basis of his/her contributions only.
	<br>As a matter of fact, we do mantain a record of members attending Ink. events, which include Ink. Tanks, Ink. Things, Ink. Outs and Cultural/Tech-Fest events.
	<br><br>
	<iframe id="attendance_doc" src="https://docs.google.com/spreadsheets/d/1U-5YmbVFC3DqBkothwaeVZ9aXYlzUwBpsfMROBWJYnU/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	<hr>
</div>
<div class="row">
	<h1>Budget</h1>
	<iframe id="budget_doc" src="https://docs.google.com/spreadsheets/d/1XMLHiwdimOSxBD0n1hQeHz7GJxaMOE-sxxM6A4E22qc/pubhtml?widget=true&amp;headers=false"></iframe>
	<div class="budget_data">
		The Club usually has an approved budget of ~Rs. 30,000 for an academic year, which is mainly distributed for Designing events like Ink. Tanks and Ink. Things.<br><br>
		<ul>
			<li>The budget includes prizes for Ink. Tank winners (worth Rs. 2500) and gifts for active Ink. Thing participants.</li>
			<li>The budget also includes perks for Ink. members in the form of Ink. Laptop Stickers.</li>
			<li>A part of it is also spent on Art Gallery trips and inviting special guests for talks and sessions. </li>
		</ul>
	</div>
	<hr>
</div>
<div class="row">
	<h1>Expenditure</h1>
	<iframe id="budget_doc" src="https://docs.google.com/spreadsheets/d/1gDu3DhziIu1UbIqY5dbRqZePAEPKqFaBEA6TJYGzfaE/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	<div class="budget_data">
		<br><br>
		<ul>
			<li>We keep a track of our expenditure throughout the year.</li>
			<li>Budget saved over a semester is carried forward to the next one. </li>
			<li>Expenditure mentioned in this sheet have been verified by the IIIT-Delhi Accounts Section.</li>
		</ul>
	</div>
</div>
<div class="row">
	<h1>Events Log</h1>
	<br><br>
	<iframe id="event_doc" src="https://docs.google.com/spreadsheets/d/1gegLKCOGO2bn4ZF4ArrUwwOSsvcwAZgFl4hJqKvC_4Q/pubhtml?widget=true&amp;headers=false"></iframe>
	<hr>
</div>

<style>
#attendance_doc {
	margin: 0 auto;
	height: 35em;
	width: 100%;
}

#event_doc {
	margin: 0 auto;
	height: 20em;
	width: 100%;
}

#budget_doc {
	height: 19em;
	width: 32em;
	float: left;
}

.budget_data {
	float:right;
	width:45%;
}

</style>